* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #083b4b;
}

.container {
  width: 90%;
  margin: 2rem auto;
  /* background-color: #083b4b; */
}

.title {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.box {
  width: 100px;
  height: 100px;
  color: black;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.normal {
  background-color: #1289b2;
}

.fizz {
  background-color: #08d6a0;
}

.buzz {
  background-color: #ffd166;
}

.fizzbuzz {
  background-color: #f0466f;
}
